*.vsidx
*.lock
*.db
*.suo
*.db-shm
*.db-wal
*.opendb
*.ipch
*.sln
*.vcxproj
*.filters
*.user
*.idb
*.tlog
x64/Debug/JasonTheEngine.vcxproj.FileListAbsolute.txt
*.obj
*.pdb
*.pch
*.log
*.recipe
x64/Debug/JasonTheEngine.lib
*.bin
